@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body,
#root {
  background-color: #121212;
  min-height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #ffc600;
  border-radius: 3px;
}